name: Lint
on:
  push:
    branches: [main]
    paths:
      - "src/**"
      - "test/**"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install Dependencies
        run: pnpm install
      - name: Run Test
        run: pnpm run test
